---
layout: page
title: Welcome to Dealing with Data
subtitle: A graduate module in data management, manipulation and sharing
---

<div class="span">
This 1 credit course provides practical instruction on how to efficiently manage a reproducible research project. You will learn version control, the core principles of "tidy data", and how to automate and document your workflow from data entry to final result. Students will implement these concepts on their own data using R and Git + Github, and will practice giving feedback on the structure of a peer's project. We will also discuss open science, licences, and statistical biases in scientific research. Students will be evaluated on their ability to apply the concepts learnt during lectures to the development of their own reproducible project.
</div>

<h2 class="post-title">About the Instructors</h2>

Andrew MacDonald is a PhD student in Dr. Diane Srivastava's lab at the University of British Columbia
<span></span>
<a href="http://www.zoology.ubc.ca/~srivast/">Dr. Diane Srivastava</a> is a Professor of Zoology at the University of British Columbia


<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
